.endorsements {
    .endorsements-container {
      margin-top: 5%;
      width:75%;
      margin:auto;
      @media (max-width:420px){
          width:100%
      }
      .fas {
        font-size: 15px;
        color: #fe6d00;
        padding:5px;
      }
    }
    .writer {
      .recommender {
        display: flex;
        padding: 20px 0px;
        .name {
          font-size: 23px;
          margin-left: 15px;
          .title {
            font-size: 15px;
            color: #fe6d00;
          }
        }
      }
      .recommend-image {
        border-radius: 50px;
        width: 50px;
        height: 50px;
      }
    }
  }